@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sevillana&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Sevillana", serif;
  font-weight: 400;
  font-style: normal;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-image: url(./assets/palacio.png);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  img {
    width: 40%;
  }
}
@media (min-width: 201px) and (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    h1 {
      font-size: 20px;
      font-weight: 100;
      text-align: center;
    }
    img {
      width: 90%;
    }
  }
}
button {
  background-color: #007bff;
  width: 300px;
  height: 6vh;
  border: none;
  border-radius: 30px;
  font-size: 25px;
}
@media (min-width: 201px) and (max-width: 500px) {
  button {
    background-color: #b74794;
    width: 250px;
    height: 6vh;
    border: none;
    border-radius: 30px;
    font-size: 25px;
  }
}
@keyframes subirDescer {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

img {
  animation: subirDescer 2s ease-in-out infinite;
}
footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020518;
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p {
      font-family: "Courier New", Courier, monospace;
    }
  }
}
@media (min-width: 201px) and (max-width: 500px) {
  footer {
    p{
      font-size: 15px;
      text-align: center;
    }
    
  }
}
